<!doctype html>
<html>
  <head>
    <meta charset=utf-8 />
    <title> Clay Wright's CV</title>
    <link href="/css/cv-screen.css" type="text/css" rel="stylesheet">
  </head>
  
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/research">Research</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>

    <div id="main">
      <div id="content">

      {{ content }}
      
      </div>
    </div>

    <footer>
            <ul>
                <li><a href="mailto:wright.clay@gmail.com">email</a></li>
                <li><a href="https://github.com/wrightrc">github.com/wrightrc</a></li>
            </ul>
    </footer>
  </body>
</html>
